.evaluate{
      padding: 0.2rem;
      background: linear-gradient(to bottom right, red , blue);
    .boxTop{
         height: 2rem;
        .iconImg{
            .icon-wo{
              font-size: 2rem;
              color: #949494;
            }
        }
        .mess{
          padding-top:20px;
          padding-left:20px;
          color: #ffffff;
          font-weight: 700;
          div{
              padding:8px;
          }
        }
    }
    .boxCenter{
        .body-r-1{
          height: 1.6rem;
          text-align: center;
          background-color: #ffffff59;
          color: #fff;
          margin: 0.2rem;
          box-shadow: 0.02rem 0.05rem 0.05rem #b9bc0082;
          display: block;
          .tit{
            line-height: 0.7rem;
          }
          .mess{
              font-size: 0.4rem;
              line-height: 0.6rem;
          }
        }
    }
    .boxStar{
        text-align: center;
        line-height: 2rem;
    }
    .button{
      padding: 0.4rem 0.6rem;
      button{
        height: 0.7rem;
        width: 100%;
        background-color: #ff8a005c;
        border: none;
        color: #fff;
      }
    }
}
