.header{
  height: 0.8rem;
  background-color: #2b85e4;
  .titLeft,.titRight{
    width: 45px;
    height: 0.8rem;
    text-align: center;
    line-height: 0.8rem;
    i{
      font: 16px;
    }
  }
  .titCenter{
    padding: 0 8px;
    line-height: 0.3rem;
    input{
      border-radius: 40px;
      outline: none!important;
      text-align: center;
    }
  }
}
