<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldz.job.mapper.ClGpsMapper">
	<!-- <insert id="saveGpsList" parameterType="java.util.List"> insert into 
		CL_GPS (ZDBH,LX,JD,WD,GGJD,GGWD,BDJD,BDWD,CJSJ,GXSJ,DWJD,FXJ,YXSD) values 
		<foreach collection="gpsList" item="item" index="index" open="(" close=")" 
		separator=","> (#{item.zdbh}, #{item.lx},#{item.jd},#{item.wd},#{item.ggjd},#{item.ggwd},#{item.bdjd},#{item.bdwd}, 
		#{item.cjsj},#{item.gxsj},#{item.dwjd},#{item.fxj},#{item.yxsd}) </foreach> 
		</insert> -->

	<insert id="saveGpsList" parameterType="list" useGeneratedKeys="false" >
		insert into CL_GPS
		(
		ZDBH,LX,JD,WD,GGJD,GGWD,BDJD,BDWD,CJSJ,GXSJ,DWJD,FXJ,YXSD
		)
		select cd.* from(
		<foreach collection="gpsList" item="item" index="index" close=")" open="(" separator="union">
			select
			#{item.zdbh},#{item.lx},#{item.jd,jdbcType=NUMERIC},#{item.wd,jdbcType=NUMERIC},#{item.ggjd,jdbcType=NUMERIC},
			#{item.ggwd,jdbcType=NUMERIC},#{item.bdjd,jdbcType=NUMERIC},#{item.bdwd,jdbcType=NUMERIC}, 
	     	#{item.cjsj,jdbcType=DATE},#{item.gxsj,jdbcType=DATE},#{item.dwjd,jdbcType=SMALLINT},#{item.fxj,jdbcType=NUMERIC},#{item.yxsd,jdbcType=VARCHAR}
			from dual
		</foreach>
		) cd
	</insert>

</mapper>