.DDlist{
  padding: 0 0.3rem;
  color: #7f7f7f;
    .DDitem{
      border-radius: 0.2rem;
      padding: 0.15rem;
      margin-top: 0.3rem;
      background-color: #ecf7ff;
      border: solid 1px #ededed;
      box-shadow: 2px 5px 5px #888888;
    }
}
