<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldz.biz.module.mapper.ClSbyxsjjlMapper">

	<select id="historyTrajectory" parameterType="com.ldz.biz.module.bean.gpsSJInfo"
		resultType="com.ldz.biz.module.model.ClSbyxsjjl">
		select * from CL_SBYXSJJL t where t.CJSJ between
		to_date(#{startTime},'yyyy-mm-dd hh24:mi:ss')
		and to_date(#{endTime},'yyyy-mm-dd hh24:mi:ss') and ZDBH=#{zdbh} and
		(t.SJJB=#{ignition} or t.SJJB=#{brennschluss}) ORDER BY CJSJ ASC
	</select>

	<select id="gpsInit" resultType="com.ldz.biz.module.model.ClSbyxsjjl">
		select a.*
		from CL_SBYXSJJL a
		where not exists(select 1
		from CL_SBYXSJJL b
		where b.ZDBH=a.ZDBH and b.CJSJ>a.CJSJ)
	</select>


</mapper>