@font-face {
  font-family: "ui-icon";
  src: url('iconfont.ttf?t=1502549776894') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1502549776894#ui-icon') format('svg');
  /* iOS 4.1- */
}

.ui-icon {
  font-family: "ui-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-f14:before { content: "\e614"; }

.icon-ditu:before { content: "\e624"; }

.icon-dingwei:before { content: "\e61b"; }

.icon-dingwei1:before { content: "\e611"; }

.icon-yijianfankui:before { content: "\e625"; }

.icon-jianxianxing:before { content: "\e615"; }

.icon-bus:before { content: "\e658"; }

.icon-ditu1:before { content: "\e62b"; }

.icon-jiantouarrow591:before { content: "\e686"; }

.icon-bus1:before { content: "\e604"; }

.icon-yuan-copy-copy-copy-copy:before { content: "\e637"; }

.icon-right:before { content: "\e639"; }

.icon-right1:before { content: "\e688"; }

.icon-webicon318:before { content: "\e6a9"; }

.icon-left:before { content: "\e62d"; }

.icon-gongjiaozhanpai:before { content: "\e602"; }

.icon-shijianshizhongdaojishi:before { content: "\e606"; }

.icon-arrow-left-e:before { content: "\e734"; }

.icon-gongjiaozhanpai1:before { content: "\e608"; }

.icon-Bus:before { content: "\e7e4"; }

.icon-arrow-right:before { content: "\e601"; }

.icon-bus2:before { content: "\e605"; }

.icon-location:before { content: "\e600"; }

.icon-fangxiang1:before { content: "\e60b"; }

.icon-xinhao1:before { content: "\e638"; }

.icon-xinhao:before { content: "\e7ac"; }

